<% col = Cor1440Gen::Actividadpf.all %>
<% if params && params[:filtro] && params[:filtro][:busconveniofinanciado_nombre] %>
  <% col = col.where(
    proyectofinanciero_id: params[:filtro][:busconveniofinanciado_nombre].to_i) %>
<% end %>
<% col = col.joins(:resultadopf).joins(:objetivopf).order(['cor1440_gen_objetivopf.numero', 'cor1440_gen_resultadopf.numero', 'nombrecorto', 'titulo']) %>
<%= f.input :busactividadmarcologico_nombre,
  collection: col.order(:titulo),
  include_blank: true,
  label_method: :presenta_nombre,
  value_method: :id,
  label: false,
  selected: Sip::ModeloHelper.poromision(params, :busactividadmarcologico_nombre),
  input_html: {
    class: 'chosen-select',
    'data-enviarautomatico' => ''
  },
  wrapper_html: {
    style: 'width: 12em'
  }
%>
