<% col = Cor1440Gen::Proyectofinanciero.where('id IN (SELECT proyectofinanciero_id FROM consgifmm)').order(:nombre)%>
<%= f.input :busconveniofinanciado_nombre,
  collection: col,
  include_blank: true,
  label_method: :presenta_nombre,
  value_method: :id,
  label: false,
  selected: Sip::ModeloHelper.poromision(params, :busconveniofinanciado_nombre),
  input_html: {
    class: 'chosen-select',
    'data-enviarautomatico' => ''
  },
  wrapper_html: {
    style: 'width: 20em'
  }
%>
