<% col = Sip::ModeloHelper.opciones_tabla_basica(
  Sip::Perfilorgsocial, f, 'ultimoperfilorgsocial_id')
%>
<%= f.input :ultimoperfilorgsocial_id,
  collection: col,
  label_method: :nombre,
  value_method: :id
%>
