<% col = Sip::ModeloHelper.opciones_tabla_basica(
  Sivel2Sjr::Statusmigratorio, f, 'ultimoestatusmigratorio_id')
%>
<% col = col.where(formupersona: true) %>
<%= f.input :ultimoestatusmigratorio_id,
  collection: col,
  label_method: :nombre,
  value_method: :id,
  input_html: {
    'data-action': 'change->persona-ppt#cambia_ultimoestatusmigratorio'
  }
%>
