<% estiloext = 'display: none' %>
<% if f.object && f.object.ultimoestatusmigratorio_id &&
    f.object.ultimoestatusmigratorio_id == 1 %>
  <% estiloext = 'display: block' %>
<% end %>
<%= f.input :ppt,
  wrapper_html: {
    'data-persona-ppt-target': 'ppt',
    style: estiloext
  } 
%>
