<div class="page-header">
  <h1><%=t '.title', :default => "Desplazamientos por beneficiario" %></h1>
</div>

<%= simple_form_for :filtro, 
  { remote: true, 
    url: File.join(Rails.configuration.relative_url_root, 
                   '/conteos/desplazamientos'),
    method: "get" } do |f| 
%>
  <div class="container">
    <div class="row filtro-fila">
      <div class="col-sm-4 col-md-3">
        Filtrar
      </div>
      <div class="col-sm-4 col-md-3">
        <%= f.input :fechaini,
          maxlength: 10, 
          size: 10,
          label: false,
          placeholder: 'Fec. Rec. Inicial',
          input_html: {
            "data-behaviour" => "datepicker",
            "data-contarautomatico" => "" 
          }
        %>
      </div>
      <div class="col-sm-4 col-md-3">
        <%= f.input :fechafin,
          maxlength: 10, 
          size: 10,
          label: false,
          placeholder: 'Fec. Rec. Final',
          input_html: {
            "data-behaviour" => "datepicker",
            "data-contarautomatico" => "" 
          }
        %>
      </div>
      <div class="col-sm-4 col-md-3">
        <%= f.input :oficina_id,
          collection: Sip::Oficina.habilitados,
          label_method: :nombre,
          value_method: :id,
          label: false,
          include_blank: '-- Oficina',
          input_html: { "data-contarautomatico" => "" }
        %>
      </div>
    </div>
    <div class="row filtro-fila">
      <div class="col-sm-4 col-md-3">
        Ordenar por:
      </div>
      <div class="col-sm-4 col-md-3">
        <%= f.input :ordenar,
          collection: @opOrdenar,
          label: false,
          include_blank: false,
          input_html: { "data-contarautomatico" => "" }
        %>
      </div>
    </div>
    <div class="row filtro-fila">
      <div class="offset-md-5 col-md-2">
        <%= f.button :submit, 'Contar', class: 'btn btn-default',
          'data-turbo' => false %>
      </div>
    </div>
  </div>

  <table class="table table-striped">
    <thead>
      <tr>
        <% @enctabla.try(:each) do |enc| %>
          <th><%= CGI.escapeHTML(enc) %></th>
        <% end %>
      </tr>
      <% if @filtrostab && @filtrostab.count && @filtrostab.count > 0 %>
        <tr>
          <% @enctabla.try(:each) do |enc| %>
            <th>
              <% if @filtrostab.keys.include? enc %>
                <% atr = @filtrostab[enc] %>
                <% atrf = Sip::ModeloHelper.nom_filtro(atr) %>
                <% atrsl= atrf.chomp('_localizada').chomp('_localizado') %>
                <% n = "bus#{atrf}" %>
                <%= render partial: "filtro_#{atrf}", locals: {f: f} %>
              <% end %>
            </th>
          <% end %>
        </tr>
      <% end %>
    </thead>
    <tbody id="resultado">
        <%= render partial: 'sivel2_gen/conteos/resultado_tabla_sinenc', locals: {f: f} %>
    </tbody>
</table>

<% end %>
