<div class="page-header">
  <h1><%=t '.title', :default => "Rutas de desplazamiento (longitudes 1 y 2)" %></h1>
</div>

<%= simple_form_for :filtro, 
  { remote: true, 
    url: File.join(Rails.configuration.relative_url_root, 
                   '/conteos/rutas'),
    method: "get" } do |f| 
%>
  <div class="container">
    <div class="row filtro-fila">
      <div class="col-sm-4 col-md-3">
        Filtro:
      </div>
      <div class="col-sm-4 col-md-3">
        <%= f.input :fechaini,
          maxlength: 10, 
          size: 10,
          label: false,
          placeholder: 'Fec. Rec. Inicial',
          input_html: {
            "data-behaviour" => "datepicker",
            "data-contarautomatico" => "" 
          }
        %>
      </div>
      <div class="col-sm-4 col-md-3">
        <%= f.input :fechafin,
          maxlength: 10, 
          size: 10,
          label: false,
          placeholder: 'Fec. Rec. Final',
          input_html: {
            "data-behaviour" => "datepicker",
            "data-contarautomatico" => "" 
          }
        %>
      </div>
      <div class="col-sm-4 col-md-3">
        <%= f.input :oficina_id,
          collection: Sip::Oficina.habilitados,
          label_method: :nombre,
          value_method: :id,
          label: false,
          include_blank: '-- Oficina',
          input_html: { "data-contarautomatico" => "" }
        %>
      </div>
    </div>
    <div class="row filtro-fila">
      <div class="offset-md-5 col-md-2">
        <%= f.button :submit, 'Contar', class: 'btn btn-default',
          'data-turbo' => false %>
      </div>
    </div>
  </div>
<% end %>


<div id="resultado">
  <%= render 'sivel2_gen/conteos/resultado_tabla' %>
</div> <!-- id: resultado -->

