<% if can? :read, Sip::Oficina %>
  <%= f.input :oficina_id,
    collection: Sip::Oficina.all,
    label_method: :nombre,
    value_method: :id,
    label: false,
    selected: @contarb_oficinaid,
    input_html: { 
      class: 'chosen-select',
      multiple: true
    },
    include_blank: '-- Oficina' %>
<% end %>
