<% col = Cor1440Gen::Actividadpf.all %>
<% if params && params[:filtro] && params[:filtro][:busproyectofinanciero] %>
  <% col = col.where(
    proyectofinanciero_id: params[:filtro][:busproyectofinanciero].map(&:to_i)
  ) %>
<% end %>
<%= f.input :busactividadpf,
  collection: col.order(:titulo),
  include_blank: true,
  label_method: :presenta_nombre,
  value_method: :id,
  label: false,
  selected: Sip::ModeloHelper.poromision(params, :busactividadpf),
  input_html: {
    class: 'chosen-select',
    'data-enviarautomatico' => ''
  },
  wrapper_html: {
    style: 'width: 12em'
  }
%>
