<% sel = [] %>
<% if params && params[:filtro] && 
    params[:filtro][:busproyectofinanciero] %>
  <% sel = params[:filtro][:busproyectofinanciero] %>
<% end %>
<%= f.input :busproyectofinanciero,
  collection: Cor1440Gen::Proyectofinanciero.order('fechacierre DESC'),
  label_method: :nombre,
  value_method: :id,
  include_hidden: false,
  selected: sel,
  input_html: { 
    class: "chosen-select", 
    multiple: true, 
    'data-enviarautomatico' => ''
  },
  label: false
%>
