<% personas= @registro.asistencia.pluck(:persona_id) %>
Población beneficiaria: <%= personas.uniq.count  %>
<table class="tablalistadoasistencia table  table-bordered table-sm ">
  <thead class="thead-light">
    <tr>
      <th>Código de beneficiario(a)</th>
      <th>Nombres</th>
      <th>Apellidos</th>
      <th colspan="2">Identificación</th>
      <th>Sexo</th>
      <th>Edad</th>
      <th>Perfil</th>
      <th>Caso asociado</th>
    </tr>
  </thead>
  <tbody id="asistencia">
    <% disponibles = personas %>
    <% @registro.asistencia.each do |asistencia| %>
      <% disponibles -= [asistencia.persona.id] %>
      <tr>
        <td>
        <%= link_to(
          asistencia.persona.id, sip.persona_path(asistencia.persona.id), 
          target: '_blank') if asistencia.persona.id %>
        </td>
        <td>
          <%= asistencia.persona.nombres if asistencia.persona.nombres %>
        </td>
        <td>
          <%= asistencia.persona.apellidos if asistencia.persona.apellidos %>
        </td>
        <td>
          <%= asistencia.persona.tdocumento.sigla if asistencia.persona.tdocumento%>
        </td>
        <td>
          <%= asistencia.persona.numerodocumento if asistencia.persona.numerodocumento %>
        </td>
        <td>
          <%= asistencia.persona.sexo if asistencia.persona.sexo %>
        </td>
        <td>
          <% if asistencia.persona %>
            <%= edad_de_fechanac_fecha(
              asistencia.persona.anionac, asistencia.persona.mesnac, 
              asistencia.persona.dianac, @registro.fecha.year, 
              @registro.fecha.month, @registro.fecha.day)
            %>
          <% end %>
        </td>
        <td>
          <%= asistencia.perfilorgsocial.nombre if asistencia.perfilorgsocial %>
        </td>
        <td>
          <% vics = Sivel2Gen::Victima.where(id_persona: asistencia.persona.id) %>
          <% if vics.empty? %>
            <%= "Sin caso asociado" %>
          <% else %>
            <% vics.each do |vic| %>
              <% nc = vic.id_caso.to_s %>
              <% if vic.victimasjr.fechadesagregacion %> 
                <% if vic.victimasjr.fechadesagregacion < @registro.fecha %>
                  <% nc += "-(Desagregado antes de act.)" %>
                <% else %>
                  <% nc += "-(Desagregado después de act.)" %>
                <% end %>
              <% end %>
              <%= link_to nc, sivel2_gen.caso_path(nc), target: '_blank' %>
            <% end %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
