/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require cor1440_gen/application.css
 *= require mr519_gen/application.css
 *= require sivel2_sjr/application.css
 *= require sal7711_gen/application.css
 *= require_tree .
 *= require_self
 */

/* De
 * https://stackoverflow.com/questions/22196587/how-to-vertically-center-a-container-in-bootstrap
 */
.centrar-vertical-dircol {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
