<table class="table table-striped actos_tabla" border='1'>
  <thead>
    <tr>
      <th><%= Sivel2Sjr::Actosjr.human_attribute_name(:presponsable) %></th>
      <th><%= Sivel2Sjr::Actosjr.human_attribute_name(:categoria) %></th>
      <th><%= Sivel2Sjr::Actosjr.human_attribute_name(:victima) %></th>
      <th><%= Sivel2Sjr::Actosjr.human_attribute_name(:fecha) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
  <% if @caso && @caso.actosjr %>
    <% f_exp = desplazamiento ? desplazamiento.fechaexpulsion : nil%>
    <% desplazamiento = Sivel2Sjr::Desplazamiento.where(id_caso: @caso.id, fechaexpulsion: f_exp)[0]%>
    <% des_id = desplazamiento ? desplazamiento.id : nil %>
    <% actos_des = @caso.actosjr.where(desplazamiento_id: des_id)%>
    <% actos_des.try(:each) do |actosjr| %>
      <tr>
        <td style='max-width: 15em'><%= actosjr.acto.presponsable.nombre %></td>
        <td style='max-width: 15em'><%= actosjr.acto.categoria.presenta_con_codigo %></td>
        <td style='max-width: 15em'><%= actosjr.acto.persona.nombres + ' ' + 
          actosjr.acto.persona.apellidos 
          %></td>
        <td><%= actosjr.fecha %></td>
        <td>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
            '#',
            :data => { 
                :eliminaracto => "#{actosjr.id_acto}",
            },
            :class => 'btn btn-sm btn-danger eliminaracto' 
          %>
        </td>
      </tr>
    <% end %>
    <tr>
      <% des_id = desplazamiento ? desplazamiento.id : "" %>
      <td>
        <div style="padding-bottom: 18px;max-width:15em;" class="input select caso_acto_presponsable">
          <% p = options_from_collection_for_select(
            Sivel2Gen::Presponsable.habilitados, "id", "nombre")
          %>
          <%=  select_tag "caso_acto_id_presponsable_#{des_id}", p, multiple: true,
            "data-toggle" => 'tooltip',
            "title" => 'Seleccione de aquellos presuntos responsables que añadió en la pestaña anterior',
            class: 'chosen-select caso_acto_id_presponsable'
          %>

        <div>
          Nuevo
          <a type='button' 
                  class='btn data-toggle togglepr'
                  data-bs-toggle="collapse">
                  <i class="fa fa-plus" aria-hidden="true"></i>
          </a>
        </div>
        <!-- Modal -->
        <div class="modal fade nuevopr" tabindex="-1" role="dialog">
          <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h1>Nuevo Presunto Responsable</h1>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <div class="row">
                  <div class="col-md-6">
                    <label class="select required control-label" for="<%="nombre_nuevopr_#{des_id}"%>">
                      Nombre</label>
                      <%= text_field_tag "nombre_nuevopr_#{des_id}", nil, class: 'form-control' %> </br>
                    <label class="select required control-label" for="<%="papa_nuevopr_#{des_id}"%>">
                      Presunto responsable papá</label> </br>
                      <% p = options_from_collection_for_select(
                        Sivel2Gen::Presponsable.habilitados, "id", "nombre")
                      %>
                      <%=  select_tag "papa_nuevopr_#{des_id}", p, :prompt => "Seleccione uno", class: 'form-control'
                      %>
                    <label class="select required control-label" for="<%="observaciones_nuevopr_#{des_id}"%>">
                      Observaciones</label></br>
                      <%= text_area_tag "observaciones_nuevopr_#{des_id}", nil, class: 'form-control' %> </br>
                  </div>
                </div>
              </div>
              <div class="modal-footer">
                  <%= link_to 'Crear', '#', data: { desplazamiento: "#{des_id}" },
                    class: 'btn btn-primary boton_agregarpr',
                    "data-bs-dismiss": "modal"
                  %>
              </div>
            </div>
          </div>
        </div>
      </div>
      </td>
      <td>
        <div style="padding-bottom: 18px;max-width: 15em;" class="input select caso_acto_categoria">
          <% c = options_from_collection_for_select(
              Sivel2Gen::Categoria.from(
                'sivel2_gen_categoria, sivel2_gen_supracategoria').where(
                  "sivel2_gen_categoria.supracategoria_id=sivel2_gen_supracategoria.id
             AND sivel2_gen_categoria.fechadeshabilitacion IS NULL 
             AND sivel2_gen_categoria.tipocat = 'I'
             AND sivel2_gen_supracategoria.id_tviolencia <> 'R'").order(
               'sivel2_gen_supracategoria.id_tviolencia', :id),
               "id", 
               lambda {|t| 
                 t.supracategoria.id_tviolencia + t.id.to_s + ' ' + t.nombre })
          %>
          <%= select_tag "caso_acto_id_categoria_#{des_id}", c, multiple: true,
            "data-toggle" => 'tooltip',
            "title" => 'Seleccione el(los) tipo(s) de violencia asociados al hecho victimizante. Para seleccionar varios pulse CTRL y haga clic en las categorías que desee',
            class: 'chosen-select'
          %>
        </div>
      </td>
      <td>
        <div style="padding-bottom: 18px;max-width: 15em;" class="input select caso_acto_persona">
          <% p = options_from_collection_for_select(
            Sip::Persona.from('sivel2_gen_victima, sip_persona').where(
              'sivel2_gen_victima.id_persona=sip_persona.id AND sivel2_gen_victima.id_caso=?', @caso.id),
              "id",
              lambda {|t| t.nombres + ' ' + t.apellidos}) 
            %>
          <%= select_tag "caso_acto_id_persona_#{des_id}", p, multiple: true,
            "data-toggle" => 'tooltip',
            "title" => 'Seleccione los nombres de una o más víctimas asociadas al presunto responsable y al tipo de violencia elegido',
            class: 'chosen-select'
          %>
        </div>
      </td>
      <td>
        <div style="padding-bottom: 18px;max-width: 15em;" class="input select caso_acto_fecha">
            <%= text_field_tag "caso_acto_fecha_#{des_id}", 
              @caso.fecha, 
              class: 'form-control',
              "data-behaviour" => "datepicker",
              "data-toggle" => 'tooltip',
              "title" => 'Del hecho victimizante'
            %>
           <%= hidden_field_tag "caso_acto_id_desplazamiento_#{des_id}", des_id %>
        </div>
      </td>
      <td>
        <div style="padding-bottom: 18px;max-width: 15em;">
          <%= link_to 'Añadir', '#', data: { desplazamiento: "#{des_id}" },
          class: 'agregaractos btn btn-primary' 
        %>
        </div>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>

