<div class="row">
  <div class="col-md-6">
    <%= f.input :id, readonly: true %>
  </div>
  <div class="col-md-6">
    <%= s.input :fecharec, 
      as: :string, 
      input_html: {
        "data-behaviour" => "datepicker",
        "data-toggle" => 'tooltip',
        "title" => 'Fecha inicial de atención al caso'
      } %>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <% colus= current_usuario.oficina_id ? 
      Usuario.where(oficina_id: current_usuario.oficina_id).
      order('LOWER(nusuario)') :
      Usuario.order('LOWER(nusuario)') %>

    <% if current_usuario.rol == Ability::ROLADMIN || current_usuario.rol == Ability::ROLDIR then %>
      <%= s.association :usuario,
        collection: colus,
        include_blank: false,
        label_method: :nusuario, 
        value_method: :id %>
    <% else %>
      <label class="select required" for="temporal_asesor">Asesor JRS</label>
      <input class="form-control select required sip-sf-bs-input" name="temporal_asesor" id="temporal_asesor" style="background-color: rgb(242, 242, 255); color: rgb(0, 0, 0);" value="<%= @caso.presenta('asesor') %>" disabled>
    <% end %>
  </div>
  <div class="col-md-6">
    <% colof= current_usuario.oficina_id ? 
      Sip::Oficina.habilitados.where(id: current_usuario.oficina_id) :
      Sip::Oficina.habilitados %>
    <%= s.association :oficina,
      collection: colof,
      include_blank: false,
      label_method: :nombre, 
      value_method: :id,
      input_html: {
        "data-toggle" => 'tooltip',
        "title" => 'Oficina del SJR que tiene el caso'
      } %>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <%= f.input :fecha,
      as: :string, 
      wrapper_html: { style: "padding-bottom: 18px;" },
      input_html: {
        "data-behaviour" => "datepicker",
        "data-toggle" => 'tooltip',
        "title" => 'Fecha en la que el solicitante sufrió el ' + 
        'desplazamiento principal'
      } %>
</div>
<div class="col-md-6">
  <%= render partial: 'basicos_pie', locals: {f: f, s: s} %>
</div>
</div>
<br>
<a data-bs-toggle="collapse" href='#datosbasicos'>
  <h5>DATOS BÁSICOS DEL CONTACTO</h5>
</a>
<div class="collapse multi-collapse campos_persona" id="datosbasicos">
<%= f.simple_fields_for :victima, Sivel2Gen::Victima.
  where(id_caso: @caso.id).
  where(id_persona: @caso.casosjr.contacto.id) do |fvictima| %>
  <%= fvictima.simple_fields_for :persona do |fpersona| %>
    <div class='campos-persona-con-victima-id'>
      <%= fvictima.input :id, as: :hidden %> 
      <%= render partial: 'sip/personas/persona_campos', 
        locals: {f: fpersona, fvictima: fvictima} %>
    </div>

    <div class="row">
      <div class="col-md-6">
        <%= s.input :direccion, 
          input_html: {
            "data-toggle" => 'tooltip',
            "title" => 'Registrar dirección completa, especificando calle, apto, barrio o finca'
          } %>
      </div>
      <div class="col-md-6">
         <%= s.input :telefono, 
           input_html: {
           "data-toggle" => 'tooltip',
           "title" => 'Registrar teléfono del solicitante sin símbolos de puntuación' 
         } %>
      </div>
    </div>
</div>
<br>
<a data-bs-toggle="collapse" href='#datosanexoscontacto'>
  <h5>ANEXOS DEL CONTACTO</h5>
</a>
<div class="collapse multi-collapse" id="datosanexoscontacto">
  <%= render partial: 'anexovictima', 
    locals: {f: fvictima, consentimiento: false} %>
</div>
<br>
<a data-bs-toggle="collapse" href='#amplioscontacto'>
  <h5>DATOS AMPLIOS DEL CONTACTO</h5>
</a>
<div class="collapse multi-collapse" id="amplioscontacto">
  <%= fvictima.simple_fields_for :victimasjr do |fvictimasjr| %>
    <% [2,4,5,1].each do |i| %>
      <%= render partial: 'victima_campos' + i.to_s, 
        locals: { fvictima: fvictima, 
                  fvictimasjr: fvictimasjr,
                  fpersona: fpersona,
                  escontacto: true}
                %>
     <% end %>
   <% end %>
</div>
<br>
<a data-bs-toggle="collapse" href='#institucional'>
    <h5>INFORMACIÓN INSTITUCIONAL Y MANEJO DE DATOS</h5>
</a>
<div class="collapse multi-collapse" id="institucional">
  <div class="row">
    <div class="col-md-6">
      <%= s.association :comosupo,
        collection: Sivel2Sjr::Comosupo.habilitados,
        include_blank: false,
        label_method: :nombre, 
        value_method: :id 
      %>
    </div>
    <div class="col-md-6">
      <%= render 'contacto_campos2',
        fvictima: fvictima,
        casosjr: s
      %>
    </div>
  </div>

  <%= caja_de_verificacion_bs 'caso_casosjr_attributes_concentimientosjr',
    'caso_casosjr_concentimientosjr', 
    s.object.concentimientosjr,
    'caso[casosjr_attributes][concentimientosjr]',
    Sivel2Sjr::Casosjr.human_attribute_name(:concentimientosjr),
    {'ayuda_emergente' => "Informar al beneficiario sobre el uso interno de la información en el SJR" }
  %>


  <%= caja_de_verificacion_bs 'caso_casosjr_attributes_concentimientobd',
    'caso_casosjr_concentimientobd', 
    s.object.concentimientobd,
    'caso[casosjr_attributes][concentimientobd]',
    Sivel2Sjr::Casosjr.human_attribute_name(:concentimientobd),
    {'ayuda_emergente' => "Informar al beneficiario sobre el uso de la información en el Banco de Datos de violencia sociopolítica del CINEP" }
  %>

  Anexo(s) con consentimiento de uso de datos personales
  <%= render partial: 'anexovictima', 
    locals: {f: fvictima, consentimiento: true} %>
</div>
<% end %> <!-- simple_fields_for :persona-->
<% end %> <!-- simple_fields_for :victima -->
