<%= f.simple_fields_for :desplazamiento do |desplazamiento| %>
  <%= render 'desplazamiento_fields', f: desplazamiento %>
<% end %>
<div class="links">
  <%= link_to_add_association 'Añadir Desplazamiento', f, :desplazamiento, {
    class: 'btn btn-sm btn-primary',
    "data-ajax" => File.join(
      Rails.configuration.relative_url_root,
      "desplazamientos/nuevo"
    ), 
    "data-ajaxdata" => "caso_id" }
  %>
</div>
</br>
<h4> Actos no asociados a desplazamientos </h4>
<div id= "<%="actos_tabla"%>">
  <%= render 'antecedentes', :desplazamiento => nil %>
</div>
