<div class="container">
  <!--%= simple_form_for :reporte, { url: '/reporte' } do |f| %-->
    <div class="row filtro-fila">
      <div class="text-center offset-sm-0 col-sm-10 offset-md-1 col-md-8">
        Filtro
      </div>
      <div class="offset-sm-0 col-sm-1">Incluir</div>
      <div class="offset-sm-0 col-sm-1">Ordenar por</div>
    </div>

    <div class="row filtro-fila">
      <div class="offset-sm-0 col-sm-2 offset-md-1 col-md-1">
        <%= Sivel2Gen::Caso.human_attribute_name(:contacto) %>
      </div>
      <div class="offset-sm-0 col-sm-4 offset-md-0 col-md-3">
        <%= f.input :nombressp,
          maxlength: 50, 
          size: 10,
          label: false,
          placeholder: 'Nombre(s)'
        %>
      </div>
      <div class="offset-sm-0 col-sm-4 offset-md-1 col-md-3">
        <%= f.input :apellidossp,
          maxlength: 50, 
          size: 10,
          label: false,
          placeholder: 'Apellido(s)'
        %>
      </div>
      <div class="offset-sm-0 col-sm-1 text-center">
        <%= f.input :inc_contacto, 
          as: :boolean, 
          label: false,
          input_html: { checked: "checked" }
        %>
      </div>
      <div class="offset-sm-0 col-sm-1 text-center">
      </div>
    </div>
    <div class="row filtro-fila">
      <div class="offset-sm-0 col-sm-2 offset-md-1 col-md-1">
      </div>
      <div class="offset-sm-0 col-sm-4 offset-md-0 col-md-3">
        <%= f.input :tdocumento,
          collection: Sip::Tdocumento.habilitados,
          label_method: :nombre,
          value_method: :id,
          label: false,
          include_blank: '-- Tipo de documento'
        %>
      </div>
      <div class="offset-sm-0 col-sm-4 offset-md-1 col-md-3">
        <%= f.input :numerodocumento,
          label: false,
          placeholder: 'Número de documento'
        %>
      </div>
    </div>

    <div class="row filtro-fila">
      <div class="offset-sm-0 col-sm-2 offset-md-1 col-md-1">
        <%= Sivel2Gen::Caso.human_attribute_name(:fecharec) %>
      </div>
      <div class="offset-sm-0 col-sm-3">
        <%= f.input :fecharecini,
          maxlength: 10, 
          size: 10,
          label: false,
          placeholder: 'Inicial',
          input_html: {
          "data-behaviour" => "datepicker"
          }
        %>
      </div>
      <div class="offset-sm-1 col-sm-3">
        <%= f.input :fecharecfin,
          maxlength: 10, 
          size: 10,
          label: false,
          placeholder: 'Final',
          input_html: {
          "data-behaviour" => "datepicker"
          }
        %>
      </div>
      <div class="offset-sm-0 col-sm-1 text-center">
        <%= f.input :inc_fecharec, 
          as: :boolean, 
          label: false,
          input_html: { checked: "checked" }
        %>
      </div>
      <div class="offset-sm-0 col-sm-1 text-center">
        <%= f.radio_button(:orden, :fecharec, checked: true) %>
      </div>
    </div>

    <div class="row filtro-fila">
      <div class="offset-sm-0 col-sm-2 offset-md-1 col-md-1">
        <%= Sivel2Gen::Caso.human_attribute_name(:oficina) %>
      </div>
      <div class="offset-sm-0 col-sm-7">
        <%= f.input :oficina_id,
          collection: Sip::Oficina.habilitados,
          label_method: :nombre,
          value_method: :id,
          label: false,
          include_blank: '-- Oficina'
        %>
      </div>
      <div class="offset-sm-0 col-sm-1 text-center">
        <%= f.input :inc_oficina, 
          as: :boolean, 
          label: false,
          input_html: { checked: "checked" }
        %>
      </div>
      <div class="offset-sm-0 col-sm-1 text-center">
      </div>
    </div> 

    <div class="row filtro-fila">
      <div class="offset-sm-0 col-sm-2 offset-md-1 col-md-1">
        <%= Sivel2Gen::Caso.human_attribute_name(:asesor) %>
      </div>
      <div class="offset-sm-0 col-sm-7">
        <%= f.input :usuario_id,
          collection: ::Usuario.order(:nombre).all,
          label_method: :nombre,
          value_method: :id,
          label: false,
          include_blank: '-- Asesor'
        %>
      </div>
      <div class="offset-sm-0 col-sm-1 text-center">
        <%= f.input :inc_nusuario, 
          as: :boolean, 
          label: false,
          input_html: { checked: "checked" }
        %>
      </div>
      <div class="offset-sm-0 col-sm-1 text-center">
      </div>
    </div> 

    <div class="row filtro-fila">
      <div class="offset-sm-0 col-sm-2 offset-md-1 col-md-1">
        <%= Sivel2Gen::Caso.human_attribute_name(:fecha) %>
      </div>
      <div class="offset-sm-0 col-sm-4 offset-md-0 col-md-3">
        <%= f.input :fechaini,
          maxlength: 10, 
          size: 10,
          label: false,
          placeholder: 'Inicial',
          input_html: {
          "data-behaviour" => "datepicker"
          }
        %>
      </div>
      <div class="offset-sm-0 col-sm-4 offset-md-1 col-md-3">
        <%= f.input :fechafin,
          maxlength: 10, 
          size: 10,
          label: false,
          placeholder: 'Final',
          input_html: {
          "data-behaviour" => "datepicker"
          }
        %>
      </div>
      <div class="offset-sm-0 col-sm-1 text-center">
        <%= f.input :inc_fecha, 
          as: :boolean, 
          label: false,
          input_html: { checked: "checked" }
        %>
      </div>
      <div class="offset-sm-0 col-sm-1 text-center">
        <%= f.radio_button(:orden, :fecha) %>
      </div>
    </div>

    <div class="row filtro-fila">
      <div class="offset-sm-0 col-sm-2 offset-md-1 col-md-1">
        <%= Sivel2Gen::Caso.human_attribute_name(:expulsion) %>
      </div>
      <div class="offset-sm-0 col-sm-3 col-md-3">
        <%= f.input :expulsion_pais_id,
          collection: Sip::Pais.habilitados,
          label_method: :nombre,
          value_method: :id,
          label: false,
          include_blank: "-- País"
        %>
      </div>
      <div class="col-md-2">
        <%= f.input :expulsion_departamento_id,
          collection: Sip::Departamento.habilitados,
          label_method: :nombre,
          value_method: :id,
          label: false,
          include_blank: "-- Departamento",
          input_html: {disabled: :disabled }
        %>
      </div>
      <div class="col-md-2">
        <%= f.input :expulsion_municipio_id,
          collection: Sip::Municipio.habilitados,
          label_method: :nombre,
          value_method: :id,
          label: false,
          include_blank: "-- Municipio",
          input_html: {disabled: :disabled }
        %>
      </div>
      <div class="offset-sm-0 col-sm-1 text-center">
        <%= f.input :inc_expulsion, 
          as: :boolean, 
          label: false,
          input_html: { checked: "checked" }
        %>
      </div>
      <div class="offset-sm-0 col-sm-1 text-center">
      </div>
    </div>

    <div class="row filtro-fila">
      <div class="offset-sm-0 col-sm-2 offset-md-1 col-md-1">
        <%= Sivel2Gen::Caso.human_attribute_name(:llegada) %>
      </div>
      <div class="offset-sm-0 col-sm-3 col-md-3">
        <%= f.input :llegada_pais_id,
          collection: Sip::Pais.habilitados,
          label_method: :nombre,
          value_method: :id,
          label: false,
          include_blank: "-- País"
        %>
      </div>
      <div class="col-md-2">
        <%= f.input :llegada_departamento_id,
          collection: Sip::Departamento.habilitados,
          label_method: :nombre,
          value_method: :id,
          label: false,
          include_blank: "-- Departamento",
          input_html: {disabled: :disabled }
        %>
      </div>
      <div class="col-md-2">
        <%= f.input :llegada_municipio_id,
          collection: Sip::Municipio.habilitados,
          label_method: :nombre,
          value_method: :id,
          label: false,
          include_blank: "-- Municipio",
          input_html: {disabled: :disabled }
        %>
      </div>
      <div class="offset-sm-0 col-sm-1 text-center">
        <%= f.input :inc_llegada, 
          as: :boolean, 
          label: false,
          input_html: { checked: "checked" }
        %>
      </div>
      <div class="offset-sm-0 col-sm-1 text-center">
      </div>
    </div>

    <div class="row filtro-fila">
      <div class="offset-sm-0 col-sm-2 offset-md-1 col-md-1">
        <%= Sivel2Gen::Caso.human_attribute_name(:memo) %>
      </div>
      <div class="offset-sm-0 col-sm-9 offset-md-0 col-md-7">
        <%= f.input :descripcion,
          maxlength: 500, 
          label: false,
          placeholder: Sivel2Gen::Caso.human_attribute_name(:memo)
        %>
      </div>
        <!--%= select_tag "contexto", options_from_collection_for_select(
          Sivel2Gen::Contexto.habilitados,
          "id", "nombre") 
        %-->
      <div class="offset-sm-0 col-sm-1 text-center">
        <%= f.input :inc_memo, 
          as: :boolean, 
          label: false,
          input_html: { checked: "checked" }
        %>
      </div>
      <div class="offset-sm-0 col-sm-1 text-center">
      </div>
    </div>

    <div class="row filtro-fila">
      <div class="offset-sm-0 col-sm-2 offset-md-1 col-md-1">
        Integrante del Grupo Familiar
      </div>
      <div class="offset-sm-0 col-sm-4 offset-md-0 col-md-3">
        <%= f.input :nombres,
          maxlength: 50, 
          size: 10,
          label: false,
          placeholder: 'Nombre(s)'
        %>
      </div>
      <div class="offset-sm-0 col-sm-4 offset-md-1 col-md-3">
        <%= f.input :apellidos,
          maxlength: 50, 
          size: 10,
          label: false,
          placeholder: 'Apellido(s)'
        %>
      </div>
      <div class="offset-sm-0 col-sm-1 text-center">
      </div>
      <div class="offset-sm-0 col-sm-1 text-center">
      </div>
    </div>

    <div class="row filtro-fila">
      <div class="offset-sm-0 col-sm-2 offset-md-1 col-md-1">
      </div>

      <div class="offset-sm-0 col-sm-4 col-md-3">
        <%= f.input :sexo, 
          collection: Sip::Persona::sexo_opciones,
          label: false,
          include_blank: '-- Sexo'
        %>
      </div>
      <div class="offset-sm-0 col-sm-4 offset-md-1 col-md-3">
        <%= f.input :rangoedad_id, 
          collection: Sivel2Gen::Rangoedad.habilitados,
          label: false,
          label_method: :nombre,
          value_method: :id,
          include_blank: '-- Rango de Edad'
        %>

      </div>
      <div class="offset-sm-1 col-sm-1 offset-md-0 text-center">
      </div>
      <div class="offset-sm-0 col-sm-1 text-center">
      </div>
    </div>

    <div class="row filtro-fila">
      <div class="offset-sm-0 col-sm-2 offset-md-1 col-md-1">
       Tipificación
      </div>
      <div class="offset-sm-0 col-sm-10 offset-md-0 col-md-7">
        <%= f.input :categoria_id,
          collection: Sivel2Gen::Categoria.habilitados.joins(:supracategoria).
            reorder('sivel2_gen_supracategoria.id_tviolencia', :id),
          label_method: lambda {|t| 
            t.supracategoria.id_tviolencia + 
                                t.id.to_s + ' ' + t.nombre},
          value_method: :id,
          label: false,
          include_blank: true
        %>
      </div>
      <div class="offset-sm-0 col-sm-1 text-center">
      </div>
      <div class="offset-sm-0 col-sm-1 text-center">
      </div>
    </div>

    <div class="row filtro-fila">
      <div class="offset-sm-0 col-sm-2 offset-md-1 col-md-1">
        Etiqueta
      </div>
      <div class="offset-sm-0 col-sm-1">
        <%= f.input :conetiqueta1, 
          collection: [ ["TIENE", true], ["NO TIENE", false] ], 
          label: false,
          include_blank: false
        %>
      </div>
      <div class="offset-sm-0 col-sm-2">
        <%= f.input :etiqueta1,
          collection: Sip::Etiqueta.habilitados,
          label_method: :nombre,
          value_method: :id,
          label: false,
          include_blank: '-- Etiqueta 1'
        %>
      </div>
      <div class="offset-sm-1 col-sm-1">
        <%= f.input :conetiqueta2, 
          collection: [ ["TIENE", true], ["NO TIENE", false] ], 
          label: false,
          include_blank: false
        %>
      </div>
      <div class="offset-sm-0 col-sm-2">
        <%= f.input :etiqueta2,
          collection: Sip::Etiqueta.habilitados,
          label_method: :nombre,
          value_method: :id,
          label: false,
          include_blank: '-- Etiqueta 1'
        %>
      </div>
      <div class="offset-sm-0 col-sm-1 text-center">
      </div>
    </div>
    

    <div class="row filtro-fila">
      <div class="offset-sm-0 col-sm-2 offset-md-1 col-md-1">
       Código(s) 
      </div>
      <div class="offset-sm-0 col-sm-2 offset-md-0 col-md-7">
        <%= f.input :codigo, 
          placeholder: 'Código(s)',
          label: false
        %>
      </div>
      <div class="offset-sm-0 col-sm-1 text-center">
        <%= f.input :inc_casoid,
          as: :boolean, 
          label: false,
          input_html: { checked: "checked" }
        %>
      </div>
      <div class="offset-sm-0 col-sm-1 text-center">
        <%= f.radio_button(:orden, :codigo) %>
      </div>
    </div>

    <div class="row filtro-fila">
          &nbsp;
    </div>


    <div class="row filtro-fila">
      <div class="offset-sm-0 col-sm-2 offset-md-1 col-md-1">
        <%= Sivel2Gen::Caso.human_attribute_name(:ultimaatencion_fecha) %>
      </div>
      <div class="offset-sm-0 col-sm-4 offset-md-0 col-md-3">
        <%= f.input :ultimaatencion_fechaini,
          maxlength: 10, 
          size: 10,
          label: false,
          placeholder: 'Inicial',
          input_html: {
          "data-behaviour" => "datepicker"
          }
        %>
      </div>
      <div class="offset-sm-0 col-sm-4 offset-md-1 col-md-3">
        <%= f.input :ultimaatencion_fechafin,
          maxlength: 10, 
          size: 10,
          label: false,
          placeholder: 'Final',
          input_html: {
          "data-behaviour" => "datepicker"
          }
        %>
    </div>
      <div class="offset-sm-0 col-sm-1 text-center">
        <%= f.input :inc_ultimaatencion_fecha,
          as: :boolean, 
          label: false,
          input_html: { checked: "checked" }
        %>
      </div>
      <div class="offset-sm-0 col-sm-1 text-center">
        <%= f.radio_button(:orden, :ultimaatencion_fecha) %>
      </div>
    </div>

    <div class="row filtro-fila">
      <div class="offset-sm-0 col-sm-2 offset-md-1 col-md-1">
        Fechas de atenciones
      </div>
      <div class="offset-sm-0 col-sm-4 offset-md-0 col-md-3">
        <%= f.input :atenciones_fechaini,
          maxlength: 10, 
          size: 10,
          label: false,
          placeholder: 'Inicial',
          input_html: {
          "data-behaviour" => "datepicker"
          }
        %>
      </div>
      <div class="offset-sm-0 col-sm-4 offset-md-1 col-md-3">
        <%= f.input :atenciones_fechafin,
          maxlength: 10, 
          size: 10,
          label: false,
          placeholder: 'Final',
          input_html: {
          "data-behaviour" => "datepicker"
          }
        %>
    </div>
      <div class="offset-sm-0 col-sm-1 text-center">
      </div>
      <div class="offset-sm-0 col-sm-1 text-center">
      </div>
    </div>


    <div class="row filtro-fila">
          &nbsp;
    </div>

    <div class="row filtro-fila">
      <div class="offset-sm-0 col-sm-2 offset-md-1 col-md-1">
        Presentación  
      </div>
      <div class="offset-sm-1 col-sm-4">
        <% oppres = [['Tabla', 'tabla'], 
          ['Tabla Resolución 1612', 'tabla1612']] 
        %>
        <%= f.input :dispresenta,
          collection: oppres,
          label: false,
          include_blank: false
        %>
      </div>
      <div class="col-sm-3">
      </div>
      <div class="offset-sm-1 col-sm-1">
        <%= f.input :paginar, 
          as: :boolean, 
          label: 'Paginar',
          input_html: { checked: "checked" }
        %>
      </div>
    </div> <!-- row -->
    <% if @plantillas %>
      <div class="row filtro-fila">
        <div class="offset-sm-0 col-sm-2 offset-md-1 col-md-1">
          Generar Plantilla
        </div>
        <div class="offset-sm-1 col-sm-4">
          <%= f.input :disgenera,
            collection: @plantillas,
            label: false,
            include_blank: false
          %>
        </div>
        <div class="col-sm-2">
          <%= link_to t('Generar ODS'), 
            '#',
            class: 'btn', 
            target: '_blank', 
            "data-turbo" => 'false',
            onclick: 'heb412_gen_completa_generarp(this, \'#filtro_disgenera\',
            \'/casos/filtro\', \'casos\')' %>
          <%= link_to t('Generar XLSX'), 
            '#',
            class: 'btn', 
            target: '_blank', 
            "data-turbo" => 'false',
            onclick: 'heb412_gen_completa_generarp(this, \'#filtro_disgenera\',
            \'/casos/filtro\', \'casos\', \'xlsx\')' %>
        </div>
        <div class="col-sm-3">
        </div>
      </div> <!-- row -->
    <% end %> 
  <!--% end %-->
</div>
