<%- if current_usuario.nil?  %>
  <li><a href="usuarios/sign_in">Iniciar Sesión</a>
<%- else  %>
  <article>
  <script>
    $(document).ready(function() {
      window.sivel2_enviarFichaCasoCada60()  ;
    });
  </script>
  <%= simple_form_for @caso, html: { 
    class: 'form-horizontal', 
    "data-controller": "respuestacaso" } do |f| %>
    <div data-role="content" class="form-inputs">

      <%= render partial: 'sip/hogar/errores', locals: { f: f } %>

      <%= render partial: 'sivel2_gen/casos/datos_interjs', locals: { f: f } %>

      <div class="accordion" id="acordeon-formv">

        <%= f.simple_fields_for :casosjr do |s| %>
          <%= item_acordeon_bs(
            'acordeon-formv', 'basicoscontacto', 
            'Datos Básicos y Contacto', true)  do %>
            <%= render 'basicoscontacto', f: f, s: s %>
          <% end %>

          <%= item_acordeon_bs(
            'acordeon-formv', 'victimas',
            'Núcleo Familiar', false)  do %>
            <%= render 'victimas', f: f, s: s %>
          <% end %>

          <%= item_acordeon_bs(
            'acordeon-formv', 'migracion',
            'Migración', false)  do %>
            <%= render 'migraciones', f: f, s: s %>
          <% end %>

          <%= item_acordeon_bs(
            'acordeon-formv', 'desplazamiento',
            'Desplazamientos', false)  do %>
            <%= render 'desplazamientos', f: f, s: s %>
          <% end %>

          <%= item_acordeon_bs(
            'acordeon-formv', 'atencion',
            'Respuesta Institucional y Seguimiento', false)  do %>
            <%= render 'respuestas', f: f, s: s %>
          <% end %>
        <% end %> <!-- simple_fields_for :casosjr -->
      </div> <!-- accordion -->
    </div> <!-- form-inputs -->

    <div class="form-actions">
      <input class='bitacora_cambio' id='caso_bictacora_cambio' name='caso[bitacora_cambio]' type='hidden'>
      <%= f.button :submit, 'Validar y Guardar', {
        class: 'btn btn-primary',
        onclick: 'window.sivel2_detenerEnviarCada60()'
      } %>
    <%= link_to t('.cancel', default: t("helpers.links.cancel")),
      casos_path, class: 'btn' 
    %>
    </div> <!-- form-action -->

  <% end %> <!-- simple_form_for @caso -->
  </article>
<% end -%> <!-- else -->
