<div class="panel panel-default" id="panelra<%= ac.id %>">
  <div class="panel-heading">
    <div class="panel-title">
      <a data-bs-toggle="collapse" data-target="#colapsara<%= ac.id %>" href="#colapsara<%= ac.id %>">
        <% res = "Respuesta/seguimiento en actividad #{ac.id}" %>
        <% if ac.fecha %>
          <% res += " del #{ac.fecha}" %>
        <% end %>
        <% if ac.usuario_id %>
          <% res += " por #{ac.responsable.nusuario}" %>
        <% end %>
        <% pfs = ac.proyectofinanciero_ids - [10] %>
        <% if pfs != [] %>
          <% res += " financiado por " %>
          <% res += pfs.inject('') {|memo, p| 
            pf = Cor1440Gen::Proyectofinanciero.find(p)
            memo == '' ? pf.nombre : memo + '; ' + pf.nombre } %>
        <% end %>
        <%= res %>
      </a>
    </div> <!-- panel-title -->
  </div> <!-- panel-heading -->

  <div id="colapsara<%= ac.id %>" class="panel-collapse collapse">
    <div class="panel-body">
      <% if can?(:edit, ac) %>
        <%= link_to t('.edit', :default => t("helpers.links.edit")),
          cor1440_gen.edit_actividad_path(ac),
          target: '_blank',
          :class => 'btn btn-sm' %>
      <% end %>
      <div class='row'>
        <% dv = ac.respuestafor.where(formulario_id: 10) %>
        <div class='col-sm-12'>Derechos vulnerados:
          <% if dv.count == 0 %>
            <p style='alert'>Faltan derechos vulnerados!</p>
          <% elsif dv.count > 1 %>
            <p style='alert'>Más de una sección de derechos vulnerados!</p>
          <% else %>
            <% dv = dv.take %>
            <% vc = dv.valorcampo.where(campo_id: 100).take %>
            <% if vc.valorjson %>
              <%= vc.valorjson.select {|i| i != ''}.
                map { |id| Sivel2Sjr::Derecho.find(id.to_i).nombre }.
                join("; ") %>
            <% end %>
          <% end %> 
        </div> <!-- col-sm-12 -->
      </div> <!-- row -->

      <% ah = ac.respuestafor.where(formulario_id: 11) %>
      <% if ah.count > 1 %>
        <p style='alert'>Más de una sección de asistencia humanitaria</p>
      <% elsif ah.count == 1%>
        <% ah = ah.take %>
        <div class="panel panel-default">
          <div class="panel-heading">ASISTENCIA HUMANITARIA</div>
          <div class="panel-body">
            <div class='row'>
              <div class='col-sm-6'>Asistencia humanitaria: 

                <% vc = ah.valorcampo.where(campo_id: 110).take %>
                <% if vc.valorjson %>
                  <%= vc.valorjson.select {|i| i != ''}.
                    map { |id| Sivel2Sjr::Ayudasjr.find(id.to_i).nombre }.
                    join("; ") %>
                <% end %>
              </div>
              <div class='col-sm-6'>Detalle: 
                <%= ah.valorcampo.where(campo_id: 111).take.valor %>
              </div>
            </div>
          </div> <!-- panel-body asistencia humanitaria-->
        </div> <!-- panel -->
      <% end %>

      <% al = ac.respuestafor.where(formulario_id: 13) %>
      <% if al.count > 1 %>
        <p style='alert'>Más de una sección de asesoria jurídica</p>
      <% elsif al.count == 1%>
        <% al = al.take %>
        <div class="panel panel-default">
          <div class="panel-heading">ASESORIA JURÍDICA</div>
          <div class="panel-body">
            <div class='row'>
              <div class='col-sm-6'>Asesoria Jurídica: 
                <% vc = al.valorcampo.where(campo_id: 130).take %>
                <% if vc.valorjson %>
                  <% aj = vc.valorjson.select {|i| i != ''}.map { |id| 
                    alp = Sivel2Sjr::Aslegal.where(id: id.to_i)
                    alp.count > 0 ? alp.take.nombre : '' }.
                      join("; ") 
                    %>
                  <%= aj %>
                <% end %>
              </div>
              <div class='col-sm-6'>Detalle: 
                <%= al.valorcampo.where(campo_id: 131).take.valor %>
              </div>
            </div>
          </div> <!-- panel-body asesoria jurídica -->
        </div> <!-- panel -->
      <% end %>

      <% aj = ac.respuestafor.where(formulario_id: 14) %>
      <% if aj.count > 1 %>
        <p style='alert'>Más de una sección de acción jurídica</p>
      <% elsif aj.count == 1%>
        <% aj = aj.take %>
        <div class="panel panel-default">
          <div class="panel-heading">ACCIÓN JURÍDICA</div>
          <div class="panel-body">
            <table class="table">
              <thead class="thead-light">
                <tr>
                  <th scope="col">Acción Jurídica</th>
                  <th scope="col">Respuesta</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td><%= rt = aj.valorcampo.where(campo_id: 140).take.valor; rt == nil? || rt == '' ? '' : Sivel2Sjr::Accionjuridica.find(rt).nombre %></td>
                  <td><%= rt = aj.valorcampo.where(campo_id: 141).take.valor; rt == nil? || rt == '' ? '' : Sip::Trivalente.find(rt).nombre %></td>
                </tr>
                <% if aj.valorcampo.where(campo_id: 142).count == 1 %>
                  <tr>
                    <td><%= rt = aj.valorcampo.where(campo_id: 142).take.valor; rt == nil? || rt == '' ? '' : Sivel2Sjr::Accionjuridica.find(rt).nombre %></td>
                    <td><%= rt = aj.valorcampo.where(campo_id: 143).take.valor; rt == nil? || rt == '' ? '' : Sip::Trivalente.find(rt).nombre %></td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div> <!-- panel-body accion juridica -->
        </div> <!-- panel -->
      <% end %>

      <% os = ac.respuestafor.where(formulario_id: 15) %>
      <% if os.count > 1 %>
        <p style='alert'>Más de una sección de otors servicios y asesorias</p>
      <% elsif os.count == 1%>
        <% os = os.take %>
        <div class="panel panel-default">
          <div class="panel-heading">OTROS SERVICIOS Y ASESORIAS</div>
          <div class="panel-body">
            <div class='row'>
              <div class='col-sm-6'>Otros servicios y asesorias: 
                <% vc = os.valorcampo.where(campo_id: 150).take %>
                <% if vc.valorjson %>
                  <%= vc.valorjson.select {|i| i != ''}.
                    map { |id| Sivel2Sjr::Motivosjr.find(id.to_i).nombre }.
                    join("; ") %>
                <% end %>
              </div>
              <div class='col-sm-6'>Detalle: 
                <%= os.valorcampo.where(campo_id: 151).take.valor %>
              </div>
            </div>
          </div> <!-- panel-body otros servicios y asesorias -->
        </div> <!-- panel -->
      <% end %>

      <% if can?(:edit, ac) %>
        <%= link_to t('.edit', :default => t("helpers.links.edit")),
          cor1440_gen.edit_actividad_path(ac),
          target: '_blank',
          :class => 'btn btn-sm' %>
      <% end %>
    </div> <!-- panel-body respuesta -->
  </div> <!-- panel collapsable -->
</div> <!-- panel respuesta -->
