<%= fvictima.input :id, as: :hidden %>

<%= fvictimasjr.input :id_victima, as: :hidden %>

<div class="row">
  <div class="col-sm-6">
    <%= fvictima.association :rangoedad,
      as: :hidden,
      collection: Sivel2Gen::Rangoedad.habilitados,
      include_blank: false,
      label: "Rango de Edad en desp. emblemático",
      label_method: :rango, 
      value_method: :id
    %>
  </div>
  <div class="col-sm-6">
    <%= fvictima.association :rangoedadactual,
      as: :hidden,
      collection: Sivel2Gen::Rangoedad.habilitados,
      include_blank: false,
      label: "Rango de Edad actual",
      label_method: :rango, 
      value_method: :id
    %>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <%= fvictima.association :etnia,
      collection: Sivel2Gen::Etnia.habilitados,
      include_blank: false,
      label: "Etnia",
      label_method: :nombre, 
      value_method: :id 
    %>
  </div>
  <div class="col-md-6">
    <%= fvictima.input(:orientacionsexual, collection: [
      [:HETEROSEXUAL, :H], [:LESBIANA, :L], [:GAY, :G], 
      [:BISEXUAL, :B], [:TRANSEXUAL, :T], [:INTERSEXUAL, :I]
    ], 
    label: "Orientación Sexual",
    include_blank: false ) %>

  </div>
</div>
