<div class='control-group nested-fields vic'>
  <div class="controls">
    <% if defined?(@numint) %>
      <% @numint = @numint + 1 %>
    <% else %>
      <% @numint = 1 %>
    <% end %>
    <a class='itemvictima' data-bs-toggle="collapse" href='#victima-<%=f.object.id%>'>
      <h3 class= "tituloenlace">Integrante <%= @numint %></h3>
    </a>
    <div class="collapse multi-collapse divcolapse" id='victima-<%=f.object.id%>'>
      <% if f.object.persona.nil?
           f.object.persona = Sip::Persona.new(nombres: '')
           f.object.victimasjr = Sivel2Sjr::Victimasjr.new
           f.object.victimasjr.victima = f.object
      end %>

      <%= f.simple_fields_for :victimasjr do |fvictimasjr| %>
        <%= f.simple_fields_for :persona do |fp| %>

          <a data-bs-toggle="collapse" href='#basicosfamiliar-<%=fp.object.id%>'>
            <h5>DATOS BÁSICOS DEL INTEGRANTE DEL GRUPO FAMILIAR</h5>
          </a>
          <div class="collapse multi-collapse campos_persona" id="basicosfamiliar-<%=fp.object.id%>">
            <div class='campos-persona-con-victima-id'>
              <%= f.input :id, as: :hidden %> 
              <%= fvictimasjr.input :id_victima, as: :hidden %> 
              <%= fvictimasjr.input :id, as: :hidden %> 
              <%= render partial: 'sip/personas/persona_campos', 
                locals: {f: fp, fvictima: f, fvictimasjr: fvictimasjr} %>
            </div>
          </div>

          <br>
          <a data-bs-toggle="collapse" href='#anexosfamiliar-<%=fp.object.id%>'>
            <h5>ANEXOS</h5>
          </a>
          <div class="collapse multi-collapse" id="anexosfamiliar-<%=fp.object.id%>">
            <%= render partial: 'anexovictima', 
              locals: {f: f, consentimiento: false} %>
          </div>

          <br>
          <a data-bs-toggle="collapse" href='#ampliosfamiliar-<%=fp.object.id%>'>
            <h5>DATOS AMPLIOS DEL MIEMBRO DEL GRUPO FAMILIAR</h5>
          </a>
          <div class="collapse multi-collapse" id="ampliosfamiliar-<%=fp.object.id%>">
            <% [2,4,5,1].each do |i| %>
              <%= render partial: 'victima_campos' + i.to_s, 
                locals: {
                  fvictima: f, 
                  fvictimasjr: fvictimasjr,
                  fpersona: fp,
                  escontacto: false
                } %>
            <% end %>
          </div>

          <br>
          <a data-bs-toggle="collapse" href='#gestiondelmiembro-<%=fp.object.id%>'>
            <h5>GESTIÓN DEL INTEGRANTE</h5>
          </a>
          <div class="collapse multi-collapse" id="gestiondelmiembro-<%=fp.object.id%>">
            <%= fvictimasjr.input :fechadesagregacion, 
              input_html: { 
                "data-behaviour" => "datepicker",
                "data-toggle" => 'tooltip',
                title: 'Sólo se llena si el beneficiario sale del grupo familiar y se registra la fecha en la que salió del grupo familiar (sin eliminar al beneficiario del grupo familiar que queda como información histórica)'
              },
              as: :string, 
              label: "Fecha de Desagregación" 
            %>
          </div>

        <% end %> <!-- simple_fields_for :persona-->
      <% end %> <!-- simple_fields_for :fvictimasjr -->

    </div>
  </div>
  <%= link_to_remove_association "Eliminar Víctima", f, {
    class: 'btn btn-sm btn-danger', 
    'data-existing':  'true',
    style: 'margin-bottom: 1em'
  } %> 
</div>
